In [2]:
import pandas as pd

In [3]:
weather = pd.read_csv('../data/weather-data.csv')
pool = pd.read_csv('../data/heimsoknir_i_sundlaugar_heild.csv')


pool

,dagsetning,timi_dags,sundlaug,fjoldi_gesta,ar,arstid,manudur,vikudagur,helgi
0,2019-08-26,19-20,Grafarvogslaug,6,2019,Sumar,Ágúst,Mánudagur,Nei
1,2019-08-26,20-21,Grafarvogslaug,1,2019,Sumar,Ágúst,Mánudagur,Nei
2,2019-08-27,8-9,Árbæjarlaug,10,2019,Sumar,Ágúst,Þriðjudagur,Nei
3,2019-08-27,9-10,Árbæjarlaug,34,2019,Sumar,Ágúst,Þriðjudagur,Nei
4,2019-08-27,10-11,Árbæjarlaug,21,2019,Sumar,Ágúst,Þriðjudagur,Nei
...,...,...,...,...,...,...,...,...,...
131389,2023-06-12,17-18,Sundhöll Reykjavíkur,109,2023,Sumar,Júní,Mánudagur,Nei
131390,2023-06-12,18-19,Sundhöll Reykjavíkur,75,2023,Sumar,Júní,Mánudagur,Nei
131391,2023-06-12,19-20,Sundhöll Reykjavíkur,106,2023,Sumar,Júní,Mánudagur,Nei
131392,2023-06-12,20-21,Sundhöll Reykjavíkur,141,2023,Sumar,Júní,Mánudagur,Nei
131393,2023-06-12,21-22,Sundhöll Reykjavíkur,63,2023,Sumar,Júní,Mánudagur,Nei

In [4]:
grafarvogslaug = pool[pool['sundlaug'] == 'Grafarvogslaug']
grafarvogslaug

,dagsetning,timi_dags,sundlaug,fjoldi_gesta,ar,arstid,manudur,vikudagur,helgi
0,2019-08-26,19-20,Grafarvogslaug,6,2019,Sumar,Ágúst,Mánudagur,Nei
1,2019-08-26,20-21,Grafarvogslaug,1,2019,Sumar,Ágúst,Mánudagur,Nei
26,2019-08-27,6-7,Grafarvogslaug,1,2019,Sumar,Ágúst,Þriðjudagur,Nei
27,2019-08-27,7-8,Grafarvogslaug,16,2019,Sumar,Ágúst,Þriðjudagur,Nei
28,2019-08-27,8-9,Grafarvogslaug,13,2019,Sumar,Ágúst,Þriðjudagur,Nei
...,...,...,...,...,...,...,...,...,...
131348,2023-06-12,17-18,Grafarvogslaug,46,2023,Sumar,Júní,Mánudagur,Nei
131349,2023-06-12,18-19,Grafarvogslaug,38,2023,Sumar,Júní,Mánudagur,Nei
131350,2023-06-12,19-20,Grafarvogslaug,75,2023,Sumar,Júní,Mánudagur,Nei
131351,2023-06-12,20-21,Grafarvogslaug,55,2023,Sumar,Júní,Mánudagur,Nei
131352,2023-06-12,21-22,Grafarvogslaug,25,2023,Sumar,Júní,Mánudagur,Nei